# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml

# MacOS
.DS_Store

# Truffle
blockchain/build
